
<mat-card>
  <mat-card-title>Edit user profile</mat-card-title>
  <form [formGroup]="user" *ngIf="user">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Workspace" formControlName="workspace" readonly>
      <button matSuffix mat-icon-button matTooltip="Leave workspace" (click)="onLeaveWorkspace()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="save()">Save</button>
  <button mat-button [routerLink]="['/dashboard']">Dashboard</button>
</mat-card>

