<mat-card>
  <mat-card-title>User profile</mat-card-title>
  <mat-card-subtitle>Subtitle</mat-card-subtitle>
  <form [formGroup]="user" *ngIf="user">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Workspace" formControlName="workspace" readonly>
      <button matSuffix mat-icon-button matTooltip="Leave workspace">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-card>