.registration-container {
    width: 100%;
    height: 75vh;
    margin: auto;
    mat-card {
        margin: 25px auto 25px;
        width: 350px;
        height: 80%;
    }
    .logo {
        margin: 25px auto 25px;
        display: block;
    }
    .welcome-text {
        margin: 25px auto 25px;
        text-align: center;
        font-size: 1em;
    }
    mat-form-field {
        width: 70%;
    }    
    .alert {
        color: #f44336;
        margin-bottom: 15px;
        text-align: center;
    }
}