.workspace-container {
    margin-top: 10px;
    .form-style {
        margin: 10px auto 10px auto;
    }
  }

  .item{
      margin : 10px 10px 10px 10px;
      display:  block;
  }

  mat-form-field{
      display: block;
  }